@use "styles/vars" as *;

.main {
    border-collapse: collapse;

    & > tbody {
        & > tr {
            background-color: transparent;
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: rgba(0, 0, 0, 0.527);
                cursor: pointer;
            }

            & > td {
                padding: 10px;
                font-family: "tbhc";
                font-size: 1.1rem;
                line-height: 1.3;

                & > a {
                    color: $text;
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                &:hover() {
                    cursor: pointer;
                }
            }
        }
    }
}