@use "@styles/vars" as *;

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0.3vw 0;

    & > * {
        padding: 7px;
        margin: 0;

        color: $text;
        text-decoration: none;
        text-transform: capitalize;

        border: 1px $text solid;
        border-radius: 7px;
    }

    & > a :hover {
        color: #887d6d;
    }
}

@media only screen and (orientation: portrait) {
    .main > * {
        font-size: 0.8rem;
        padding: 5px;
    }
}
