@use "../../styles/vars" as *;

.main {
    background-color: $secondary;
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 100%;
    border-radius: 10px;

    // border: 1px $text solid;
}

.image {
    border-left: 1px $text solid;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.form {
    padding: 15px;

    &>h2 {
        margin: 0;
        color: $text;
    }

    &>section {
        padding: 2px 0;
    }

    &>section:not(.checkbox) {
        &>label {
            display: block;
            text-align: left;
        }

        &>textarea {
            border-radius: 0;
            border: none;
            background-color: transparent;
            border-bottom: 2px $text solid;
            color: $text;
            padding: 1px;
            resize: none;
            width: 100%;

            &:hover {
                border-bottom: 2px rgb(212, 173, 100) solid;
            }
        }
    }
}

.checkbox {
    margin: 10px 0;

    &>input {
        margin-right: 3px;
    }

    &>label {
        display: inline;
        text-align: initial;
    }
}

.buttons {
    display: flex;
    gap: 10px;
    width: 100%;

    &>input,
    button {
        font-family: "abel";
        font-weight: 300;
        text-transform: capitalize;
        background-color: rgb(7, 7, 7);
        color: $text;
        border: none;
        flex-grow: 1;
        padding: 10px;

        &:hover {
            background-color: rgb(15, 15, 15);
            cursor: pointer;
        }

        &:disabled {
            background-color: rgb(102, 18, 18);
            cursor: not-allowed;
        }
    }
}

@media only screen and (orientation: portrait) {
    .main {
        grid-template-columns: 3fr 1fr;
    }
}