@use "styles/vars" as *;

.main {
    width: 100%;
    min-height: 30px;
    background-color: $tetiary;
    border: 2px solid $text;
    border-radius: 10px;

    &>input {
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 5px;
        border-top: 2px solid $text;

        &:focus {
            outline: none;
        }
    }
}

.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    padding: 6px;
}

.selected {
    border: 1px solid $text;
    border-radius: 10px;

    text-transform: none;
    font-size: .8rem;
    padding: 4px;
    letter-spacing: normal;

    &:hover {
        background-color: $text;
        color: $quaternary;
        cursor: pointer;
    }
}