@use "styles/vars" as *;

.main {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;

    padding: 25px;
    padding-right: 20vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > meter {
        width: 100%;
    }
}

.info {
    & > table {
        border-collapse: collapse;
        font-size: 0.8rem;

        & > tr {
            border-bottom: 1px $text solid;
        }

        & > * > td {
            padding: 6px 10px;

            & > a {
                color: rgb(67, 171, 255);
            }

            &:first-child {
                font-weight: 600;
            }
        }
    }
}

@media (max-height: 480px) and (orientation: landscape), (min-width: 641px) {
    .main {
        padding: 25px;
    }
}

@media (max-width: 640px) {
    .main {
        padding: 25px;
        height: 25vh;
    }
}
