$text: rgb(181, 166, 145);

.footer {
    font-family: "abel";
    background: black;
    border-top: 1px solid $text;
    padding: 3%;
    text-align: center;

    & > * {
        text-decoration: none;
        color: $text;
    }
}
