@use "../styles/vars" as *;

.main {
    background: black;
    border-top: 1px solid $text;
    padding: 3%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

    & > * {
        text-decoration: none;
        color: $text;
    }
}
