.navbar {
    z-index: 5;
    position: fixed;
    top: 0;
    height: 8%;
    width: 100%;
    grid-template-columns: 15% 10% 3% 10% 7% 10% 7% 10% 3% 10% 15%;
    grid-template-rows: 20% auto 20%;
    display: grid;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
    align-items: center;

    & > * {
        display: flex;
        justify-content: center;
        grid-row: 2 / 3;
        font-size: 140%;
        color: rgb(181, 166, 145);
        cursor: pointer;
        transition: opacity 100ms;

        &:hover {
            opacity: 0.7;
            text-decoration: none;
            cursor: pointer;
        }
    }
    & > a {
        &:nth-child(1) {
            grid-column: 2 / 3;
        }

        &:nth-child(2) {
            grid-column: 4 / 5;
        }

        &:nth-child(3) {
            grid-column: 8 / 9;
        }

        &:nth-child(4) {
            grid-column: 10 / 11;
        }
    }
}

.icon {
    grid-column: 6 / 7;
    grid-row: 1 / 4;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 53%;
    height: 100%;

    color: transparent;
}

@media only screen and (orientation: portrait) {
    .navbar {
        grid-template-columns: 3% 16% 3% 16% 7% 10% 7% 16% 3% 16% 3%;
        grid-template-rows: 10% auto 10%;
        height: 7%;

        & > * {
            font-size: 3.5vw;
        }
    }

    .icon {
        background-size: 80%;
    }
}
