@use "../styles/vars" as *;

.main {
    background-color: $primary;
    border-radius: 10px;

    & > header {
        background-color: $tetiary;
        padding: 10px;
        padding-left: 25px;
        border-radius: 10px 10px 0 0;
    }

    & > section {
        padding: 10px 20px;
    }

    &:hover {
        cursor: pointer;
    }
}