.category {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;

    & > img {
        height: 60px;
        width: 60px;
        margin: 2px;
    }
}

.inverted {
    filter: invert(100%); 
}

@media only screen and (orientation: portrait) {
    .category > img {
        height: 40px;
        width: 40px;
    }
}
