@use "@styles/vars" as *;
.main {
    border: 1px solid black;
    position: relative;

    &:hover {
        border: 1px solid rgb(34, 34, 34);

        & > .image {
            filter: blur(0.2rem);
            opacity: 0.2;
        }

        & > .info {
            color: $text;
        }
    }
}

.info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7%;

    color: transparent;

    & > h3 {
        font-size: 130%;
    }

    & > p {
        font-size: 100%;
        text-align: center;
    }
}

.image {
    transition: opacity 0.1s;
    transition: filter 0.2s;

    display: block;

    &:hover {
        filter: blur(0.2rem);
        opacity: 0.2;
    }
}
