@use "styles/vars" as *;

.main {
    width: 100%;
    min-width: 90px;
    height: 90px;
    padding: 5px;

    border-bottom: 1px $text solid;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    &[data-active="true"], &:hover {
        border-bottom: 1px beige solid;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 59%, rgba(0, 0, 0, 0) 100%);
    }
}

.info {
    & > h1 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 15px;
        grid-template-columns: 1fr;
    }
    .info {
        display: none;
    }
}
