@use "styles/vars" as *;

.main {
    width: 100%;
    min-width: 90px;
    height: 80px;
    padding: 5px;

    border: 2px $text solid;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    &[data-active="true"],
    &:hover {
        border: 2px $textHover solid;
        background-color: $tetiary;
    }
}

.info {
    &>h1 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 15px;
        grid-template-columns: 1fr;
    }

    .info {
        display: none;
    }
}