<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Xayania</title>

  <link rel="stylesheet" href="/styles.css">
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>

</head>


<body>
  {{> topnav }}
  <div class="artSubheader">
  </div>

  <div class="content">
    {{#each posts}}
      post name: {{this.Name}}<br>
      Tag: {{this.Tags.TagName}}<br>
      Category: {{this.Categories.CategoryName}}<br><br>
    {{/each}}
  </div>

  {{> footer }}
</body>

</html>