<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Xayania</title>
  <meta name="description" content="description!" />
  <meta name="google-site-verification" content="haESfl9n2k-TL_02Le4baHKelO3VvW2zV2OS_fm4aHo" />

  <link rel="preload" href="/styles.css" as="style">
  <link rel="preload" href="/abel.ttf" as="font" type="font/ttf" crossorigin>

  <link rel="stylesheet" href="/styles.css">

</head>


<body>
  {{> topnav }}
  <main class="contactContainer">
    <h1 class="contactH1">Contact</h1> <br>
    <form id="contactForm" class="contactForm" action="/contact" method="post">
      <fieldset>
        <legend>Name:</legend>
        <input type="text" name="firstName" id="firstName" placeholder="First name" autocomplete="given-name"
          minlength="2" maxlength="32" required>
        <input type="text" name="lastName" id="lastName" placeholder="Last name" autocomplete="family-name"
          minlength="2" maxlength="32" required>
      </fieldset>

      <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Email" required>
      </div>

      <div>
        <label for="subject">Subject: </label>
        <input type="text" name="subject" id="subject" placeholder="Subject" autocomplete="off" minlength="3" maxlength="32" required>
      </div>

      <div>
        <label for="message">Message: </label>
        <textarea type="text" name="message" id="message" placeholder="Message" autocomplete="off" minlength="16" maxlength="512"
          rows="6" required></textarea>
      </div>

      <div>
        <input type="submit" value="Submit">
      </div>
    </form>
  </main>
  {{> footer }}

  <script>
    const form = document.getElementById("contactForm");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const data = new URLSearchParams();

      for (const pair of new FormData(form)) {
        data.append(pair[0], pair[1]);
      }

      const response = await sendData("/contact", data);

      if (response.ok) {
        form.reset();
        window.alert("Email sent!");
      }
      else window.alert(response.statusText);
    })

    async function sendData(url, data) {
      return fetch(url, {
        method: 'POST',
        body: data
      })
        .then(response => response)
    }
  </script>
</body>

</html>