<html>
<title>{{status}}</title>
<head>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="centered notfound noselect">
    <h1>{{status}}</h1>
    <h2>{{message}}</h2>
    </div>
</body>

</html>