<html>
<title>{{Message}}</title>
<head>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="centered notfound noselect">
    <h1>{{Message}}</h1>
    <h2>{{Status}}</h2>
    </div>
</body>

</html>