<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Xayania</title>

  <link rel="stylesheet" href="/styles.css">
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>

</head>


<body>
  {{> topnav }}
  <div class="subheader"></div>


  <div class="content">
    <video class="video" id="videoPlayer" width="1920" controls muted="muted" autoplay>
      <source src="/file/monke.mp4" type="video/mp4" />
    </video>
  </div>

  {{> footer }}
</body>

</html>