<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Upload</title>

</head>

<body>
  <form id="form" action="/project" method="POST" enctype="multipart/form-data">
    <label>Name:</label>
    <br>
    <input type="text" id="name" name="Name">
    <br>
    <label>Description:</label>
    <br>
    <input type="text" name="Description">
    <br>
    <label>tag:</label>
    <br>
    <select name="Tags" multiple>
      {{#each tags}}
      <option value={{ this.TagID }}>{{ this.Name }}</option>
      {{/each}}
    </select>
    <br>
    <label>Image</label>
    <br>
    <input type="file" name="Banner">
    <br>
    <button type="submit">submit!</button>
  </form>

  <button id="button">clicc</button>
</body>

</html>