<div class="topnav noselect">
    <a href="/coding" class="button1 a">CODING</a>
    <a href="/artwork" class="button2 a">ARTWORK</a>
    <a href="/music" class="button3 a">MUSIC</a>
    <a href="/contact" class="button4 a">CONTACT</a>
    <div class="icon"></div>
</div>