<div class="topnav noselect">
    <a href="https://github.com/valivia" target="_blank" rel="noreferrer" class="button1 a">GitHub</a>
    <a href="/browse" class="button2 a">Gallery</a>
    <a href="/about" class="button3 a">About</a>
    <a href="/contact" class="button4 a">Contact</a>
    <a href="/" class="icon"></a>
</div>