<div class="topnav noselect">
    <a class="button1 a">CODING</a>
    <a class="button2 a">ARTWORK</a>
    <a class="button3 a">MUSIC</a>
    <a class="button4 a">CONTACT</a>
    <div class="icon"></div>
</div>