@use "styles/vars" as *;

.main {
    padding: 10px;
    padding-left: 20vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px $text solid;
}

.category {
    align-self: flex-end;
    text-align: right;

    & > p {
        margin: 0;
        padding-bottom: 15px !important;
    }
}

.tagWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 7px;
}

.tag {
    & > img {
        filter: grayscale(0.6);
        transition: transform 100ms ease-in-out;
        transform: scale(1);
    }

    &:hover {
        cursor: pointer;

        & > img {
            transform: scale(0.9);
        }
    }

    &[data-active="true"] > img {
        filter: grayscale(0);
        transform: scale(1.2);
    }
}

@media (max-height: 480px) and (orientation: landscape), (min-width: 641px) {
    .main {
        padding: 25px;
    }
}

@media (max-width: 640px) {
    .main {
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        border: none;
    }

    .category {
        align-self: center;
        text-align: center;
    }

    .tagWrapper {
        display: flex;
        justify-content: center;
    }
}
