@use "@styles/vars" as *;

.main {
    min-height: 100vh;
    background-color: $primary;

    background-image: url("/noise.jpg");
    background-repeat: repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0;

    & > h1 {
        margin: 0;
        padding: 40px;
    }

    & > section {
        display: inline-block;
    }
}

.menu > * {
    padding: 10px;
}

.active {
    text-decoration: underline;
}
