@use "styles/vars" as *;

.main {
    background-color: transparent;
    border: none;
    border-bottom: $text 2px solid;
    min-width: 200px;
    max-width: 20vw;
    margin: 20px;
    color: $text;
    font-size: 1.7rem;

    &:focus {
        outline: none;
    }
}