@use "@styles/vars" as *;

.main {
    &:hover {
        background-color: rgba(0, 0, 0, 0.527);
        cursor: pointer;
    }

    & > td {
        padding: 10px;
        font-family: "tbhc";
        font-size: 1.1rem;
        line-height: 1.3;

        &[data-status="finished"] {
            text-decoration: underline;
        }
    }
}

@media only screen and (orientation: portrait) {
    .main > td[id="description"] {
        display: none;
    }
}
