@use "./vars" as *;

@mixin markdown {
    text-transform: none;
    font-size: unset;
    letter-spacing: normal;

    & > h1 {
        font-size: 2rem;
    }

    & > h2 {
        font-size: 1.7rem;
        margin-bottom: 0;
    }

    & > h3 {
        font-size: 1.4rem;
        margin-bottom: 0;
    }

    & > header {
        border-bottom: 2px $text solid;
    }

    & > * > strong {
        font-weight: 900;
    }

    & > blockquote {
        margin: 0;
        padding-left: 10px;
        border-left: 2px $text solid;
    }

    & > p > a {
        color: rgb(67, 171, 255);
    }

    & > hr {
        border-color: $text;
    }

    & > pre {
        font-family: monospace !important;
        background-color: rgb(14, 14, 14);
        border-radius: 10px;
        border: black 2px solid;
        padding: 10px;
        overflow-x: scroll;

        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
    }
}
