$text: #b5a691;
$textHover: #d5caba;
$link: rgb(150, 150, 240);

$disabled: rgb(170, 0, 0);
$disabledHover: rgb(80, 20, 20);

$borderRadius: 4px;

// $text: #cbb79c;
// $text: rgb(181, 166, 145);
// $text: wheat;
$primary: rgb(17, 17, 17);
$secondary: rgb(13, 13, 13);

// $secondary: rgb(14, 14, 14);
$tetiary: rgb(8, 8, 8);
$quaternary: black;
$media-server: "https://hootsifer.com/media";

$font: "abel", Helvetica, sans-serif;
$fontRaleway: "raleway", "abel", Helvetica, sans-serif;

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin ralewayFont {
    font-family: $fontRaleway;
    font-weight: 200;
}

@mixin subheaderTemplate {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: lighter;
    font-size: 5vh;
    text-align: center;

    & > *:hover {
        cursor: pointer;
    }
}
