@use "styles/vars" as *;

.main {
    width: 100%;

    & > article {
        min-height: 30vh;
        background-color: $primary;
        display: flex;
        flex-direction: column;

        & > section {
            text-transform: none;
            letter-spacing: normal;
            min-width: 70%;
            padding: 0 30px;
        }

        & > figure {
            display: none;
        }

        & > header {
            background-color: $tetiary;
            min-width: 100%;
            text-align: center;
            padding: 20px;
        }
    }
}

.skill > section {
    display: flex;
    flex-direction: row;

    & > .skills {
        padding: 10px 40px;
        width: 30vw;
    }
}

.subheader {
    @include subheaderTemplate;
    background-image: url($media-server + "/server/crow_medium.jpg");
    background-image: image-set(
        url($media-server + "/server/crow_default.jpg") 2x,
        url($media-server + "/server/crow_high.jpg") 1.5x,
        url($media-server + "/server/crow_medium.jpg") 1x,
        url($media-server + "/server/crow_low.jpg") 0.75x,
        url($media-server + "/server/crow_lowest.jpg") 0.25x
    );
    background-image: -webkit-image-set(
        url($media-server + "/server/crow_default.jpg") 2x,
        url($media-server + "/server/crow_high.jpg") 1.5x,
        url($media-server + "/server/crow_medium.jpg") 1x,
        url($media-server + "/server/crow_low.jpg") 0.75x,
        url($media-server + "/server/crow_lowest.jpg") 0.25x
    );
    height: 80vh;
}

@media only screen and (orientation: portrait) {
    .skill > section {
        display: flex;
        flex-direction: column;

        & > .skills {
            padding: 10px 0px;
            width: 100%;
        }
    }
}
