@use "styles/vars" as *;

.main {
    width: 100%;
    min-height: 100vh;
    padding: 150px 0;

    background-image: url("/noise.jpg");
    background-repeat: repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    & * {
        @include ralewayFont;
        max-width: 1200px;
    }

    & > p {
        text-align: center;
    }

    & p,
    li {
        padding: 0 20px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: 2px;
    }

    & > section > h2 {
        font-size: 2em;
    }

    & > h1 {
        font-size: 4em;
        margin: 0;
    }

    & > section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.introduction {
    text-align: center;

    & p {
        margin: 4px;
        font-size: 1.05em;
    }

    & ul {
        margin: 0;
        padding: 10px 0;
    }

    & li {
        display: block;
        font-size: 0.9em;
        padding: 3px;
    }
}

.logo {
    max-width: 1200px;
    width: 20%;
}

.breaker {
    width: 30%;
    border-top: 1px $text solid;
}

.countUp {
    font-weight: 600;
    color: $textHover;
}

@media (max-width: 640px) {
    .logo {
        width: 60%;
    }
}
