@use "./vars" as *;
@use "./form" as formModule;
$text: #e6e6d7;

.main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: $secondary;

    &>* {
        color: $text;
    }

    height: 100vh;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 25px 10px;
    padding-right: 25px;

    gap: 20px;
}

.form {
    @include formModule.form;
    padding: 20px;
    padding-right: 50%;
}

@media (max-width: 640px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 90px 10fr;
    }

    .list {
        flex-direction: row;
    }

    .form {
        padding: 20px;
    }
}