@use "styles/vars" as *;

// CONTACT

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0 10% 0;

  background-color: $primary;
  background-image: url("/noise.jpg");
  background-repeat: repeat;
  background-attachment: fixed;

  & > h1 {
    font-size: 4rem;
    font-weight: 100;
  }
}

.form {
  width: 55%;
  height: 30%;

  & > * {
    padding: 0.2vw;
  }

  & > fieldset {
    border-style: none;
    max-width: 100%;
    display: flex;
    gap: 2em;
    padding: 0;
    margin: 0.2vw;
  }
}

@media only screen and (orientation: portrait) {
  .form {
    width: 90%;
    & > fieldset {
      flex-direction: column;
      gap: 1em;
    }
  }
}
