$text: rgb(181, 166, 145);
$cdn: "https://cdn.xayania.com";

// CONTACT

.main {
  font-family: "abel";
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: black url($cdn + "/file/s/crow_MediumHigh.jpg") no-repeat center;
  background-image: image-set(
    url($cdn + "/file/s/crow_Default.jpg") 2x,
    url($cdn + "/file/s/crow_High.jpg") 1.5x,
    url($cdn + "/file/s/crow_MediumHigh.jpg") 1x,
    url($cdn + "/file/s/crow_Medium.jpg") 0.75x,
    url($cdn + "/file/s/crow_Low.jpg") 0.25x
  );
  background-image: -webkit-image-set(
    url($cdn + "/file/s/crow_Default.jpg") 2x,
    url($cdn + "/file/s/crow_High.jpg") 1.5x,
    url($cdn + "/file/s/crow_MediumHigh.jpg") 1x,
    url($cdn + "/file/s/crow_Medium.jpg") 0.75x,
    url($cdn + "/file/s/crow_Low.jpg") 0.25x
  );

  background-size: cover;
}

.contactH1 {
  font-size: 5vw;
  font-weight: 100;
}

.form {
  width: 50%;
  height: 50%;

  & > * {
    padding: 0.2vw;
  }
}

.half {
  width: 25%;
}

.fieldset {
  border-style: none;
  max-width: 100%;
  display: flex;
  gap: 2em;
  padding: 0;
  margin: 0.2vw;
}

.submit {
  background-color: transparent;
  border-style: solid;
  border-color: $text;
  color: $text;
  padding: 0.5vw 1.2vw;
  font-family: "abel";
  font-weight: 100;
  font-size: 100%;

  &:hover {
    color: black;
    background-color: $text;
  }
}

@media only screen and (orientation: portrait) {
  .fieldset {
    flex-direction: column;
    gap: 0;
  }

  .half {
    width: 50%;
  }
}
