$text: rgb(181, 166, 145);

.submit {
    background-color: transparent;
    border-style: solid;
    border-color: $text;
    color: $text;
    padding: 0.5vw 1.2vw;
    font-family: "abel";
    font-weight: 100;
    font-size: 100%;

    &:hover {
        color: black;
        background-color: $text;
    }

    &:disabled {
        border-color: rgb(146, 0, 0);
        color: rgb(146, 0, 0);
        background-color: black;
    }
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;

    font-family: "abel";
    font-weight: 100;
    font-size: 100%;

    &:focus {
        border: 3px solid #805315;
    }
}