@use "styles/vars" as *;

@font-face {
  font-family: "abel";
  src: url("/abel.ttf");
  font-display: swap;
}

@font-face {
  font-family: "tbhc";
  src: url("/tbhc.ttf");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  -ms-overflow-style: none;

  color: $text;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "abel", Helvetica, sans-serif;
}

/* Scrollbar */

body,
html {
  scrollbar-width: thin;
  // scrollbar-width: none;
  scrollbar-color: #ffffff66 #00000033;
}

*::-webkit-scrollbar {
  // width: 12px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: #00000033;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff66;
}
