@font-face {
  font-family: "abel";
  src: url("/abel.ttf");
  font-display: swap;
}

$text: rgb(181, 166, 145);

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "abel";
  background-color: black;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  color: $text;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
