$cdn: "https://cdn.xayania.com";

// SUBHEADER

.subheader {
  background: black url($cdn + "/file/s/crow_MediumHigh.jpg") no-repeat center;
  background-image: image-set(
    url($cdn + "/file/s/crow_Default.jpg") 2x,
    url($cdn + "/file/s/crow_High.jpg") 1.5x,
    url($cdn + "/file/s/crow_MediumHigh.jpg") 1x,
    url($cdn + "/file/s/crow_Medium.jpg") 0.75x,
    url($cdn + "/file/s/crow_Low.jpg") 0.25x
  );
  background-image: -webkit-image-set(
    url($cdn + "/file/s/crow_Default.jpg") 2x,
    url($cdn + "/file/s/crow_High.jpg") 1.5x,
    url($cdn + "/file/s/crow_MediumHigh.jpg") 1x,
    url($cdn + "/file/s/crow_Medium.jpg") 0.75x,
    url($cdn + "/file/s/crow_Low.jpg") 0.25x
  );
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
  font-family: "abel";
  font-size: 5vh;
  text-align: center;
}