@use "styles/vars" as *;
// SUBHEADER

.subheader {
  background-image: url($cdn + "/file/s/crow_MediumHigh.jpg");
  background-image: image-set(
    url($cdn + "/file/s/crow_Default.jpg") 2x,
    url($cdn + "/file/s/crow_High.jpg") 1.5x,
    url($cdn + "/file/s/crow_MediumHigh.jpg") 1x,
    url($cdn + "/file/s/crow_Medium.jpg") 0.75x,
    url($cdn + "/file/s/crow_Low.jpg") 0.25x
  );
  background-image: -webkit-image-set(
    url($cdn + "/file/s/crow_Default.jpg") 2x,
    url($cdn + "/file/s/crow_High.jpg") 1.5x,
    url($cdn + "/file/s/crow_MediumHigh.jpg") 1x,
    url($cdn + "/file/s/crow_Medium.jpg") 0.75x,
    url($cdn + "/file/s/crow_Low.jpg") 0.25x
  );

  height: 100vh;
}