@use "styles/vars" as *;

// PROJECTS
.main {
    width: 100%;
    min-height: 100vh;
    padding: 10vh 100px;

    background-image: url("/noise.jpg");
    background-repeat: repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > header {
        text-align: center;
        font-size: 3.5vh;
        font-weight: 100;
        margin: 0;

        & > * {
            font-family: "tbhc";
        }

        & > p {
            font-size: 1.2rem;
        }
    }

    & > h2 {
        font-family: "tbhc";
        text-align: center;
    }
}

.pinned {
    padding: 6px 0;
    max-width: 1920px;
    width: 100%;
    display: grid;

    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-template-rows: repeat(auto-fit, 20rem);
    gap: 20px;
}

.list {
    padding: 0 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > table {
        border-collapse: collapse;
    }
}

@media only screen and (orientation: portrait) {
    .main {
        padding: 10vh 1vw;
    }
}
