@use "styles/vars" as *;
@use "./markdown" as md;

.header {
    height: 100vh;
    width: 100%;

    @include subheaderTemplate;
    display: flex;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: unset;

    font-weight: lighter;
    font-size: 5vh;
    text-align: center;

    & > p {
        font-weight: 100;
        font-size: 4vh;

        &:hover {
            color: rgb(150, 133, 109);
            cursor: pointer;
        }
    }
}

.spacer {
    height: 15vh;
    background-color: rgb(17, 17, 17);
}

.content {
    box-shadow: 0px 13px 38px 29px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 13px 38px 29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 38px 29px rgba(0, 0, 0, 0.75);
    background-color: rgb(17, 17, 17);
    width: 100%;
    min-height: 100vh;

    padding: 0;

    & > header {
        background-color: rgb(8, 8, 8);
        padding: 10px;
        padding-left: 30px;
    }
}

.info {
    background-color: rgb(14, 14, 14);

    & > summary {
        padding: 1.2vw 2vw;
        &:hover {
            cursor: pointer;
        }
    }

    & > section {
        padding: 1.2vw 2vw;
        padding-top: 0;
        & > table {
            border-collapse: collapse;
            margin: 20px 0;

            & > tr {
                border-bottom: 1px $text solid;
            }

            & > * > td {
                padding: 6px 20px;

                & > a {
                    color: rgb(67, 171, 255);
                }

                &:first-child {
                    font-weight: 600;
                }
            }
        }
    }
}

.markdown {
    @include md.markdown;
    padding: 10px 50px;
}

.carousel {
    display: flex;
    justify-content: center;
}

@media only screen and (orientation: portrait) {
    .header {
        height: 50vh;
    }
    .content {
        & > header {
            padding: 5px;
            padding-left: 15px;
        }
    }

    .info {
        background-color: rgb(14, 14, 14);
        padding: 3vw 5vw;
    }

    .contentWrapper {
        padding: 3vw;
    }
}
